/* jjpk-me/node
 *
 * Copyright (C) 2020 - Julien JPK
 * This file is part of the frontend code for my personal website at jjpk.me.
 *
 * There is very little value in granting permissions over such a specific code
 * base. It is therefore published with no license. All rights reserved. */

.hero.article-hero {
    background: url('/static/img/dark_bg.png') center;
    font-family: "hack", monospace;

    padding: 4em 0 6em 0;
    @include mobile {
        padding: 4em 0;
    }

    h1, h2 { color: #DDDDDD; }
    h1 { margin-bottom: 1em; }
}

.container.article-container {
    padding: $column-gap;

    @include tablet {
        margin-top: -3em;
        width: 75%;
    }

    article, aside {
        h2 { font-size: $size-4; }
    }

    article {
        h1, h2, h3 {
            font-variant: small-caps;
            line-height: 1em;

            &:not(first-child) {
                margin-top: calc(1.5 * #{$block-spacing});
            }

            &:not(last-child) {
                margin-bottom: $block-spacing;
            }
        }

        .codehilite:not(last-child) {
            margin-bottom: $block-spacing;
        }

        h1 {
            font-size: $size-3;
            text-align: center;
            font-weight: bold;
        }

        h2 { font-style: italic; }
        h3 { font-size: $size-5; }
        p { text-align: justify; }

        ul, ol {
            list-style-position: outside;

            li {
                padding-left: .5em;
                margin-left: 2em;
            }

            &:not(last-child) {
                margin-bottom: $block-spacing;
            }
        }

        ul { list-style-type: '‒ '; }

        label {
            font-weight: bold;
        }

        div.CodeMirror {
            font-family: "hack", monospace;
        }
    }

    aside.article-aside {
        display: flex;
        flex-direction: column;
        margin-bottom: $block-spacing;

        @include mobile {
            .subtitle {
                margin-bottom: 0;
            }
        }

        figure {
            margin-bottom: $block-spacing;
        }

        & > .box > :last-child {
            margin-top: 1em;
        }
    }

    aside.article-comments {
        form {
            margin-bottom: $block-spacing;
        }

        p {
            text-align: justify;
        }

        div.comment {
            margin-bottom: $block-spacing;

            &.unapproved p.body { color: #C00; }

            p { margin-bottom: 0; }

            p.metadata {
                font-weight: bold;

                span {
                    font-weight: normal;
                    font-style: italic;
                    color: $grey-light;
                }
            }

            p.controls { font-size: $size-7; }
        }
    }
}
