@charset "utf-8";

/* jjpk-me/node
 *
 * Copyright (C) 2020 - Julien JPK
 * This file is part of the frontend code for my personal website at jjpk.me.
 *
 * There is very little value in granting permissions over such a specific code
 * base. It is therefore published with no license. All rights reserved. */

$block-spacing: 1rem;
$notification-padding: 1.25rem;
$card-content-padding: 1rem;

$turquoise: #0099CC;
$blue : #0099CC;

$hero-body-padding: 0;
$hero-body-padding-small: 0;
$hero-body-padding-medium: 0;
$hero-body-padding-large: 0;

@import "../../node_modules/bulma/bulma.sass";
