@charset "utf-8";

/* jjpk-me/node
 *
 * Copyright (C) 2020 - Julien JPK
 * This file is part of the frontend code for my personal website at jjpk.me.
 *
 * There is very little value in granting permissions over such a specific code
 * base. It is therefore published with no license. All rights reserved. */

html {
    overflow-y: auto;
}

body {
    min-height: 100vh;

    &.light-bg {
        background: url('/static/img/light_bg.png') center;
    }

    &.dark-bg {
        background: url('/static/img/dark_bg.png') center;
    }
}

.columns.inverted-order {
    display: flex;

    @include mobile {
        flex-direction: column;
        & > .column:first-child { order: 2; }
        & > .column:last-child { order: 1; }
    }
}

.box.simple-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include mobile {
        flex-direction: column;
        justify-content: flex-start;

        & > div > p {
            text-align: center;

            &:last-child {
                margin-bottom: 1em;
            }
        }
    }
}

p {
    margin-bottom: $block-spacing;
    &:last-child { margin-bottom: 0; }
}

p.buttons_set {
    display: flex;
    justify-content: center;
    & > :not(last-child) { margin-right: 1em; }

    @include mobile {
        flex-direction: column;
        & > :not(last-child) { margin-bottom: 1em; }
    }
}

a.discrete, a.discrete:hover, a.discrete:active, a.discrete:visited {
    color: inherit;
    text-decoration: none;
}

img.avatar {
    border-radius: 50%;
    border: 2px dotted #666666;
}

a.site_name {
    font-family: "Library3AM", monospace;
    font-size: 2em;
    text-align: center;

    & > span {
        color: $turquoise;
    }
}

.site_intro {
    font-family: "hack", monospace;
    font-size: 0.75em;
    font-style: italic;
    text-align: center;
    color: #DDDDDD;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

h2 .fas, h2 .fab {
    &:not(last-child) {
        margin-right: 0.5rem;
    }
}
