@charset "utf-8";

/* jjpk-me/node
 *
 * Copyright (C) 2020 - Julien JPK
 * This file is part of the frontend code for my personal website at jjpk.me.
 *
 * There is very little value in granting permissions over such a specific code
 * base. It is therefore published with no license. All rights reserved. */

@font-face {
    font-family: 'Library3AM';
    src: local('library3am'), url(/static/fonts/library3am.otf) format('opentype');
}

@font-face {
    font-family: 'hack';
    src: local('hack'), url(/static/fonts/hack.ttf) format('truetype');
}
