@charset "utf-8";

/* jjpk-me/node
 *
 * Copyright (C) 2020 - Julien JPK
 * This file is part of the frontend code for my personal website at jjpk.me.
 *
 * There is very little value in granting permissions over such a specific code
 * base. It is therefore published with no license. All rights reserved. */

.hero.intro-hero {
    overflow: auto;

    & > .hero-body > .container,
    & > .hero-body > .container > .columns,
    & > .hero-body > .container > .columns > .column.intro-profile {
        min-height: 100vh;
    }

    & > .hero-body > .container > .columns > .column {
        display: flex;
        flex-direction: column;

        &.intro-profile {
            display: flex;
            justify-content: center;
            align-items: center;
            background: url('/static/img/dark_bg.png') center;
            color: #DDDDDD;

            @include tablet {
                position: fixed;
            }

            & > div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 75%;
            }
        }

        &.intro-body {
            background: url('/static/img/light_bg.png') center;
            justify-content: flex-start;

            .card .card-content .subtitle {
                padding-top: 0.5em;
            }
        }
    }
}
