@charset "utf-8";

/* jjpk-me/node
 *
 * Copyright (C) 2020 - Julien JPK
 * This file is part of the frontend code for my personal website at jjpk.me.
 *
 * There is very little value in granting permissions over such a specific code
 * base. It is therefore published with no license. All rights reserved. */

div.landing {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    @include until-widescreen {
        padding: 5vh 0;
    }

    div.binder {
        width: 70%;
        display: flex;
        column-gap: 2em;

        @include until-widescreen {
            width: 80%;
            flex-direction: column;
            row-gap: 2em;
        }
    }
}

div.landing div.me {
    display: flex;
    flex-grow: 1;
    flex-basis: 40%;
    flex-direction: column;
    justify-content: center;
    row-gap: 1em;
    color: #DDDDDD;
}

div.landing div.me div.picture {
    display: flex;
    justify-content: center;
}

div.landing div.me div.socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2em;
    width: 100%;

    a {
        display: block;
        color: #DDDDDD;
        text-align: center;
        font-size: 2em;

        &:hover {
            color: #0099CC;
        }
    }
}

div.landing div.links {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-auto-rows: 1fr;
    column-gap: 2vw;
    row-gap: 2vw;
    flex-basis: 60%;
    flex-grow: 2;

    @include until-widescreen {
        grid-template-columns: 1fr;
        row-gap: 3vh;
    }

    .tile {
        display: flex;
        box-sizing: border-box;
        row-gap: 1em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-basis: 33%;
        flex-grow: 1;
        border-width: 5px;
        border-style: solid;
        border-color: #DDDDDD;
        padding: 2em;
        color: #DDDDDD;

        &.admin {
            border-color: $turquoise;
            color: $turquoise;
        }

        i {
            font-size: 4em;
            @include until-widescreen {
                display: none;
            }
        }

        span {
            font-size: 1.25em;
            text-align: center;
        }
    }

    .tile.filler, a.tile:hover {
        background: rgba(255, 255, 255, 0.1);
    }

    .tile.filler {
        border: none;

        @include until-widescreen {
            display: none;
        }
    }
}
