@charset "utf-8";

/* jjpk-me/node
 *
 * Copyright (C) 2020 - Julien JPK
 * This file is part of the frontend code for my personal website at jjpk.me.
 *
 * There is very little value in granting permissions over such a specific code
 * base. It is therefore published with no license. All rights reserved. */

@import "../../node_modules/codemirror/lib/codemirror";
@import "../../node_modules/easymde/src/css/easymde";
@import "../../node_modules/codemirror-spell-checker/src/css/spell-checker";

@include mobile {
    .editor-toolbar {
        display: none;
    }
}
