@charset "utf-8";

/* jjpk-me/node
 *
 * Copyright (C) 2020 - Julien JPK
 * This file is part of the frontend code for my personal website at jjpk.me.
 *
 * There is very little value in granting permissions over such a specific code
 * base. It is therefore published with no license. All rights reserved. */

$extended-box-padding: 1.5 * $box-padding;

section.milestone {
    div.milestone-img {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @include mobile {
            border-radius: $radius-large $radius-large 0 0;
            height: 50vh;
        }
    }

    @include mobile {
        div.columns {
            div.column:last-child {
                padding: $block-spacing $extended-box-padding $extended-box-padding $extended-box-padding;
                p { text-align: justify; }
                h2 { text-align: center; }
            }
        }
    }

    @include widescreen {
        &:nth-of-type(even) {
            div.milestone-img {
                border-radius: $radius-large 0 0 $radius-large;
                height: 100%;
            }

            div.column:last-child {
                padding: $extended-box-padding $extended-box-padding $extended-box-padding 0;
                p, h2 { text-align: left; }
            }
        }

        &:nth-of-type(odd) {
            div.columns {
                flex-direction: row-reverse;

                div.milestone-img {
                    border-radius: 0 $radius-large $radius-large 0;
                    height: 100%;
                }

                div.column:last-child {
                    padding: $extended-box-padding 0 $extended-box-padding $extended-box-padding;
                    p, h2 { text-align: right; }
                }
            }
        }
    }
}
