@charset "utf-8";

/* jjpk-me/node
 *
 * Copyright (C) 2020 - Julien JPK
 * This file is part of the frontend code for my personal website at jjpk.me.
 *
 * There is very little value in granting permissions over such a specific code
 * base. It is therefore published with no license. All rights reserved. */

#paste_content {
    font-family: "hack", monospace;
    font-size: $size-7;
}

div#paste_content {
    white-space: pre;
    overflow-x: visible;
    overflow-y: scroll;
    background-color: #EEE;
    padding: 1em;
    border-radius: $notification-radius;
}

a.link-green {
    color: #090;
}

p#paste_modal_error {
    color: #C00;
    font-size: $size-7;
}
